<header class="article-info clearfix">
  <h1 itemprop="name">{{ .Title }}</h1>
  <p class="article-time">
    {{ if .PublishDate }}
      <time datetime="{{ .Date }}" itemprop="datePublished">{{ .Date.Format .Site.Params.DateFormat }}</time>
      - <time datetime="{{ .PublishDate }}" itemprop="dateUpdated">{{ .Date.Format .Site.Params.DateFormat }}</time>
    {{ else }}
      <time datetime="{{ .Date }}" itemprop="datePublished">{{ .Date.Format .Site.Params.DateFormat }}</time>
    {{ end }}
  </p>
</header>
