<div>
  {{ if .Site.Params.Imglogo }}
  {{ end }}
  <div class="navbar"><a class="navbutton navmobile" href="#" title="menu"></a></div>
  <nav class="animated">
    <ul>
      <li><a id="text-logo" href="{{ .Site.BaseURL }}" title="{{ .Site.Params.Description }}">{{ .Site.Title }}</a></li>
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
      <li>
        <form class="search" method="get" action="https://www.google.com/search">
          <div>
            <input type="text" id="search" name="q" placeholder="{{ .Site.Params.Strings.Search }}">
          </div>
        </form>
      </li>
    </ul>
  </nav>
</div>
